.container {
	background-color: #c3e0df;
	margin-top: 6rem;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h2 {
	color: #3f6a6a;
	font-size: 36px;
}

.cardListContainer {
	padding: 2rem 5rem;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
